.body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-family: "Ubuntu", sans-serif;
}

.container {
  margin: 47px 170px;
}

.header {
  background-image: url(../image/bg.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-line {
  padding-top: 47px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header-word {
  color: white;
  font-family: Montserrat;
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  margin-right: 60px;
}

.adress-text {
  color: white;
  text-decoration: none;
}

.num {
  color: white;
  text-decoration: none;
  font-weight: 700;
}

.phone-text {
  font-size: 13px;
  font-weight: 400;
  color: white;
}

.phone-holder {
  display: flex;
  align-items: center;
}

.header-down {
  position: relative;
}
.button {
  background-color: grey;
  color: white;
  text-decoration: none;
  padding: 10px 18px;
  font-weight: 400;
}

.btn {
  margin-top: 100px;
}

.header-title {
  color: white;
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 700;
  margin-top: 50px;
}

.header-subtitle {
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
}

.header-down__btn {
  margin-top: 50px;
}

.down-button {
  background-color: #fed84c;
  color: #2e363e;
  text-decoration: none;
  padding: 30px 50px;
  font-weight: 500;
  border-radius: 8px;
}

.header-down__text {
  color: white;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  margin-left: 250px;
}

.next-title {
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  text-align: center;
}

.product-title {
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  margin-top: 40px;
}

.product-desc {
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-top: 12px;
}

.product-price {
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  margin-top: 24px;
}

.product-button {
  background-color: #fed84c;
  color: #2e363e;
  text-decoration: none;
  padding: 20px 40px;
  font-weight: 500;
  border-radius: 8px;
}

.product-btn {
  margin-top: 34px;
}

.product-first {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.product-second {
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
}

.product-third {
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
}

.product {
  margin-left: 20px;
}

.phone-button {
  background-color: grey;
  color: white;
  text-decoration: none;
  padding: 10px 18px;
  font-weight: 400;
  border-radius: 5px;
}

.cloud-title {
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
}

.cloud-subtitle {
  font-family: Montserrat;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
}

.cloud-button {
  background-color: #fed84c;
  color: #2e363e;
  text-decoration: none;
  padding: 25px 45px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 8px;
}

.cloud-text {
  width: 100%;
}
